textarea{
    border: none;
    border-bottom: 2px solid #bfbfbf;
    background-color: #d8d8d8;
    width: 60%;
    padding: 10px;
    margin: 10px 0;

    outline: none;

}
input{
    border: none;
    border-bottom: 2px solid white;
    background-color: #d8d8d8;
    width: 60%;
    padding: 10px;
    margin: 10px 0;

    outline: none;
}



h2{
    color: white;
    font-size: 100px;
}
