
.TFtable {
    width: 100%;
    border-collapse: collapse;
}



/* provide some minimal visual accomodation for IE8 and below */
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(even) {
    background: #f3f3f3;
}

/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(odd) {
    background: white;
}
th, td {
    padding:5px

}


style >
