/*
	Colorized by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		line-height: 1.75em;
		font-size: 11pt;
		letter-spacing: 0;
	}

	body
	{
		padding-top: 44px;
	}

	h2, h3, h4, h5, h6
	{
		font-size: 1.5em;
	}

	section,
	article
	{
		clear: both;
		margin: 2em 0 2em 0 !important;
	}

	section > :first-child,
	article > :first-child
	{
		margin-top: 0 !important;
	}

	section:first-child,
	article:first-child
	{
		margin-top: 0 !important;
	}

	header
	{
		margin-bottom: 2em;
	}

		header h2
		{
			line-height: 1.2em;
			font-size: 1.8em;
		}

	.container
	{
		padding: 0em 1em;
	}

	.button
	{
		display: block;
		width: 100%;
		text-align: center;
	}

	.divider
	{
		margin: 3em 0em;
	}

/*********************************************************************************/
/* UI                                                                            */
/*********************************************************************************/

	#titleBar
	{
		background: darkgreen;
	}

		#titleBar .title
		{
			color: #fff;
			text-align: center;
			line-height: 44px;
			font-size: 1.2em;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

			#titleBar .title span
			{
				display: none;
			}

		#titleBar .toggle
		{
			position: absolute;
			left: 0;
			top: 0;
			width: 80px;
			height: 60px;
		}

			#titleBar .toggle:before
			{
				content: '';
				display: block;
				width: 60px;
				height: 40px;
				position: absolute;
				left: 5px;
				top: 5px;
			}

			#titleBar .toggle:after
			{
				content: '';
				display: block;
				width: 20px;
				height: 16px;
				position: absolute;
				left: 15px;
				top: 14px;
				background: url('images/mobileUI-site-nav-opener-bg.svg') 0px 0px no-repeat;
				opacity: 1;
			}

			#titleBar .toggle:active:after
			{
				opacity: 0.75;
			}

	#navPanel
	{
		background: #1d1d1d;
	}

		#navPanel .link
		{
			display: block;
			color: #888;
			text-decoration: none;
			height: 44px;
			line-height: 44px;
			border-top: solid 1px rgba(255,255,255,.05);
			padding: 0 1em 0 1em;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

			#navPanel .link:first-child
			{
				border-top: 0;
			}

			#navPanel .link.depth-0
			{
				color: #fff;
			}

			#navPanel .indent-1 { display: inline-block; width: 1em; }
			#navPanel .indent-2 { display: inline-block; width: 2em; }
			#navPanel .indent-3 { display: inline-block; width: 3em; }
			#navPanel .indent-4 { display: inline-block; width: 4em; }
			#navPanel .indent-5 { display: inline-block; width: 5em; }
			#navPanel .depth-0 { color: #fff; }

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		display: none;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}

		#logo a
		{
			font-size: 2.2em;
		}

	#logo
	{
		display: none;
	}

	#nav
	{
		display: none;
	}

	#banner
	{
		padding: 3em 0em;
	}

	.homepage #banner
	{
		padding: 6em 0em;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 3em 0em 2em 0em;
	}

	#sidebar1 header h2,
	#sidebar2 header h2
	{
		font-size: 1.6em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 4em 0em;
	}

	#footer #fbox1 header h2,
	#footer #fbox2 header h2
	{
		font-size: 1.6em;
	}

